<style>
  #addHabitForm {
    display: block;
    text-align: center;
    width: 100%;
    margin: 10px auto;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  }

  input[type="submit"] {
    border: none;
    border-radius: 0;
    cursor: pointer;
    color: whitesmoke;
    background-color: teal;
    display: block;
    width: 300px;
    margin: 0 auto;
    padding: 4px 0;
  }

  input[type="text"] {
    text-align: center;
    display: block;
    margin: 0 auto 4px auto;
    border-width: 0 0 1px 0;
    border-radius: 0;
    width: 300px;
    padding: 4px 0;
  }

  input[type="text"]:focus {
    outline: none;
  }

  label {
    display: block;
    margin-bottom: 14px;
  }
</style>

<form id="addHabitForm">
  <label for="habitName">Add Habbit</label>
  <input type="text" name="habitName" id="habitNameInput" />
  <input type="submit" value="Add" id='addButton' />
</form>